# 9.7 Mini-Project: SQLite DB Creation
# keyu chen - km5ar
# yusheng jiang - yj3tp

In [ ]:
import pandas as pd
import sqlite3
import csv

In [ ]:
conn = sqlite3.connect('db_mini_project.db')

In [ ]:
# Create a cursor. 
cursor = conn.cursor()

Create a small database (3â€“4 tables) using the command line (e.g., terminal on MAC or Windows PowerShell.)

In [ ]:
table1 = '''CREATE TABLE hospital(staff_id INT PRIMARY KEY NOT NULL, 
                                  department TEXT NOT NULL)'''
cursor.execute(table1)

In [ ]:
table2 = '''CREATE TABLE doctors(staff_id INT, 
                                 name TEXT NOT NULL,
                                 age INT, 
                                 working_years INT,
                                 FOREIGN KEY(staff_id) REFERENCES hospital(staff_id))'''
cursor.execute(table2) 
#department TEXT REFERENCES hospital(department)

In [ ]:
table3 = '''CREATE TABLE patients(patient_id INT PRIMARY KEY NOT NULL, 
                                  patient_name TEXT NOT NULL, 
                                  age INT, 
                                  check_in_date DATE)'''
cursor.execute(table3)

In [ ]:
table4 = '''CREATE TABLE tests(test_id INT PRIMARY KEY NOT NULL, 
                               test_name TEXT NOT NULL,
                               patient_name TEXT NOT NULL, 
                               result INT, 
                               date DATE)'''
cursor.execute(table4)

Populate your tables with some data, again using the command line (or if you wish, create a python script!)

# insert into hospital

In [ ]:
print("Let's input the hospital staff information!")
while True:
    staff_id = input('staff\'s id: ')
    department = input('Department\'s name: ')
    sql = '''insert into hospital
             (staff_id, department)
             values
             (:id, :department)'''
             # These values are "named parameters" (like place holders)
             # Tells the SQLite library that something will be substitued here
    
    # Use the cursor to execute the statement
    # Here, a dictionary has been added of the named parameters and the items
    # to be inserted.
    cursor.execute(sql, {'id':staff_id, 'department':department})
    
    # Commit. Telling SQLite to save the new data. The data would be lost otherwise.
    conn.commit()
    
    # See if the user wants to add another student's information into the database...
    cont = input("Another staff? ")
    # If no, break (break out of the while loop) and close the connection.
    # Otherwise, go to the beginning of the while loop to add another student
    if cont[0].lower() == 'n':
        break

Let's input the hospital staff information!
staff's id: 001
Department's name: Digestive
Another staff? y
staff's id: 002
Department's name: Endocrine
Another staff? y
staff's id: 003
Department's name: Pyschology
Another staff? y
staff's id: 004
Department's name: Brain
Another staff? y
staff's id: 005
Department's name: Heart
Another staff? n

# insert into doctors

In [ ]:
print("Let's input the doctors' personal information!")
while True:
    staff_id = input('doctor\'s id: ')
    name = input('doctor\'s name: ')
    age = input('doctor\'s age: ')
    working_years = input('doctor\'s working years: ')

    sql = '''insert into doctors
             (staff_id, name, age, working_years)
             values
             (:staff_id, :name, :age, :working_years)'''


    cursor.execute(sql, {'staff_id':staff_id, 'name':name, 'age':age, 'working_years':working_years})
    
    # Commit. Telling SQLite to save the new data. The data would be lost otherwise.
    conn.commit()
    
    # See if the user wants to add another student's information into the database...
    cont = input("Another doctor? ")
    # If no, break (break out of the while loop) and close the connection.
    # Otherwise, go to the beginning of the while loop to add another student
    if cont[0].lower() == 'n':
        break

Let's input the doctors' personal information!
doctor's id: 001
doctor's name: Brown
doctor's age: 30
doctor's working years: 10
Another doctor? y
doctor's id: 002
doctor's name: John
doctor's age: 40
doctor's working years: 20
Another doctor? y
doctor's id: 003
doctor's name: Mike
doctor's age: 35
doctor's working years: 15
Another doctor? y
doctor's id: 005
doctor's name: Hayate
doctor's age: 55
doctor's working years: 30
Another doctor? n

# insert into  patients

In [ ]:
print("Let's input the patients' personal information!")
while True:
    patient_id = input('patients\'s id: ')
    patient_name = input('patients\'s name: ')
    age = input('patients\'s age: ')
    date = input('patients\'s check in date: ')


    sql = '''insert into patients
             (patient_id, patient_name, age, check_in_date)
             values
             (:patient_id, :name, :age, :check_in_date)'''


    cursor.execute(sql, {'patient_id':patient_id, 'name':patient_name, 'age':age, 'check_in_date':date})
    
    # Commit. Telling SQLite to save the new data. The data would be lost otherwise.
    conn.commit()
    
    # See if the user wants to add another student's information into the database...
    cont = input("Another patient? ")
    # If no, break (break out of the while loop) and close the connection.
    # Otherwise, go to the beginning of the while loop to add another student
    if cont[0].lower() == 'n':
        break

Let's input the patients' personal information!
patients's id: 701
patients's name: Robert
patients's age: 50
patients's check in date: 2020-6-5
Another patient? y
patients's id: 702
patients's name: Alice
patients's age: 60
patients's check in date: 2020-6-15
Another patient? y
patients's id: 703
patients's name: Tulen
patients's age: 65
patients's check in date: 2020-6-5
Another patient? y
patients's id: 704
patients's name: Maloc
patients's age: 70
patients's check in date: 2020-6-14
Another patient? y
patients's id: 705
patients's name: Kelly
patients's age: 77
patients's check in date: 2020-6-15
Another patient? n

In [ ]:
#cursor.execute("delete from doctors")

# insert into tests

In [ ]:
print("Let's input the tests' information!")
while True:
    test_id = input('test\'s id: ')
    test_name = input('test\'s name: ')
    patient_name = input('patients\'s name: ')
    result = input('test\'s result: ')
    date = input('test\'s date: ')


    sql = '''insert into tests
             (test_id, test_name, patient_name, result, date)
             values
             (:id, :test_name, :patient_name, :result, :date)'''


    cursor.execute(sql, {'id':test_id, 'test_name':test_name, 'patient_name':patient_name, 'result':result, 'date':date})
    
    # Commit. Telling SQLite to save the new data. The data would be lost otherwise.
    conn.commit()
    
    # See if the user wants to add another student's information into the database...
    cont = input("Another test? ")
    # If no, break (break out of the while loop) and close the connection.
    # Otherwise, go to the beginning of the while loop to add another student
    if cont[0].lower() == 'n':
        break

Let's input the tests' information!
test's id: 501
test's name: blood analysis
patients's name: Alice
test's result: negative
test's date: 2020-6-15
Another test? y
test's id: 502
test's name: covid test
patients's name: Tulen
test's result: positive
test's date: 2020-6-5
Another test? y
test's id: 503
test's name: lumbar puncture
patients's name: Maloc
test's result: negative
test's date: 2020-6-14
Another test? y
test's id: 504
test's name: malabsorption test
patients's name: Robert
test's result: negative
test's date: 2020-6-5
Another test? y
test's id: 505
test's name: covid test
patients's name: Kelly
test's result: negative
test's date: 2020-6-15
Another test? n

Come up with 3â€“4 questions to query against your database (similar to Sailors or Bank questions). Write these questions out.

# Query 1

Find the doctor who has been working for 10 years

In [ ]:
query1 = """
SELECT staff_id, name, working_years
FROM doctors 
WHERE working_years = '10' 
"""

In [ ]:
pd.read_sql_query(query1, conn)

   staff_id   name  working_years
0         1  Brown             10
1         4  Annie             10

# Query 2

Find the doctor who has been working for longest years in each department and make the descending order by years.

In [ ]:
query2 = """
SELECT hospital.staff_id, name, working_years, department
FROM hospital
NATURAL JOIN doctors
GROUP BY department
HAVING max(working_years)
ORDER BY working_years DESC
"""

In [ ]:
pd.read_sql_query(query2, conn)

   staff_id    name  working_years  department
0         5  Hayate             30       Heart
1         2    John             20   Endocrine
2         3    Mike             15  Pyschology
3         4   Annie             10       Brain
4         1   Brown             10   Digestive

# Query 3

Find the patients who have the age over 60, descendent ordered by age.

In [ ]:
query3 = """
SELECT patient_id, patient_name, age
FROM patients
WHERE age > 60
ORDER BY age DESC
"""

In [ ]:
pd.read_sql_query(query3, conn)

   patient_id patient_name  age
0         705        Kelly   77
1         704        Maloc   70
2         703        Tulen   65

# Query 4

Find the patients who have taken covid test age and the result is positive.

In [ ]:
query4 = """
SELECT patient_id, patient_name, test_name, result
FROM patients 
NATURAL JOIN tests
WHERE result = "positive"
"""

In [ ]:
pd.read_sql_query(query4, conn)

   patient_id patient_name   test_name    result
0         703        Tulen  covid test  positive

Find solutions to your questions in SQL. Write out these solutions. Check them by using the DB browser or SQL Firefox add-on.
# solution checked by DB browser will be in the PDF file attached

In [ ]:
# Start writing code here...